<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SourceConnectionString" value="Server=10.98.14.28;Port=3306;Database=gsb_adm_fv;Uid=root;Pwd=P@ssw0rd;Charset=utf8mb4;"/>
		<add key="DestinationConnectionString" value="Server=10.98.14.12;Port=3308;Database=gsb_logview;Uid=root;Pwd=P@ssw0rd;Charset=utf8mb4;"/>
		<add key="SourceTableName" value="device_info"/>
		<add key="DestinationTableName" value="device_info_history"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>